body {
    background: #191e24;
    color: rgb(172,183,205);
    font-family: "Fira Mono", monospace;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0px;
    max-width: 550px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 630px) {
    body {
        padding: 0px 40px;
    }
}

header {
    margin: 40px 50px 60px;
}

a {
    color: rgb(51,206,216);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
nav {
    width: 15%;
}
  
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
nav ul li {
    color: rgb(51,206,216);
    cursor: pointer;
}
nav ul a {
    color: rgb(51,206,216);
}  
.root {
    color: rgb(51,206,216);
}
.underline:hover {
    color: rgb(51,206,216);
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(172,183,205);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.cursor {
    animation: cursor 1s infinite;
    color: rgb(51,206,216);
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    border-radius: 1px;
}
/* .cursor-white {
    animation: cursor 1s infinite;
    color: rgb(172,183,205);
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    border-radius: 1px;
} */

.centered {
	margin: 0px auto 40px;
	display: block;
}

@keyframes cursor {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

pre {
	max-width: 850px;
	overflow: scroll;
	padding: 15px 15px;
	font-size: 14px;

}
.wb-body {
    background: #111;
    padding: 20px;
}
  
.hidden {
    display: none;
}